<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dashboard - Data Panen</title>

    <meta name="keywords" content="rindang sistem informasi pangan kota ternate kebutuhan cabai barito rica tanam petani" />
    <meta property="og:title" content="RINDANG - Rica Tanam Dalam Kampung" />
    <meta property="og:description" content="Sistem Informasi kebutuhan pangan dan informasi pangan Kota Ternate" />
    <meta property="og:image" content="https://i.ibb.co/grnRZSB/og-thumbnail.webp" />
    <meta property="og:url" content="https://rindang.vercel.app" />
    <meta property="og:type" content="website" />

    <!-- FAVICONS -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../static/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../../static/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="../../static/favicons/favicon-16x16.png" />
    <link rel="manifest" href="../../static/favicons/site.webmanifest" />
    <link rel="mask-icon" href="../../static/favicons/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#ffc40d" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="stylesheet" href="../../static/admin/css/styles.min.css" />
    <link rel="stylesheet" href="../../static/admin/css/base-color.css" />
    <!-- <link rel="stylesheet" href="../../static/admin/css/font-size.css" /> -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </head>

  <body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
      <!-- Sidebar Start -->
      <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div>
          <div class="brand-logo d-flex align-items-center justify-content-between">
            <a href="{{ url_for('views.dashboard' ) }}" class="text-nowrap logo-img">
              <img src="../../static/img/rindang-logo-red.svg" width="180" alt="" />
            </a>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
              <i class="ti ti-x fs-8"></i>
            </div>
          </div>
          <!-- Sidebar navigation-->
          <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
              <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">Home</span>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="{{ url_for('views.dashboard' ) }}" aria-expanded="false">
                  <span>
                    <i class="ti ti-home"></i>
                  </span>
                  <span class="hide-menu">Dashboard</span>
                </a>
              </li>
              <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">DATA & STATISTIK</span>
              </li>
              <!-- <li class="sidebar-item">
                            <a class="sidebar-link" href="./ui-buttons.html" aria-expanded="false">
                                <span>
                                    <i class="ti ti-currency-dollar"></i>
                                </span>
                                <span class="hide-menu">Harga Pangan</span>
                            </a>
                        </li> -->
              <li class="sidebar-item">
                <a class="sidebar-link active" href="{{ url_for('views.datapangan' ) }}" aria-expanded="false">
                  <span>
                    <i class="ti ti-seeding"></i>
                  </span>
                  <span class="hide-menu">Data Produksi</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="{{ url_for('views.penjualan' ) }}" aria-expanded="false">
                  <span>
                    <i class="ti ti-truck"></i>
                  </span>
                  <span class="hide-menu">Penjualan</span>
                </a>
              </li>
              <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">Fitur Rindang</span>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="./authentication-login.html" aria-expanded="false">
                  <span>
                    <i class="ti ti-haze"></i>
                  </span>
                  <span class="hide-menu">Pantauan Cuaca</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="./authentication-register.html" aria-expanded="false">
                  <span>
                    <i class="ti ti-message"></i>
                  </span>
                  <span class="hide-menu">Forum</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="./authentication-register.html" aria-expanded="false">
                  <span>
                    <i class="ti ti-article"></i>
                  </span>
                  <span class="hide-menu">Artikel</span>
                </a>
              </li>
            </ul>
          </nav>
          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
      </aside>
      <!--  Sidebar End -->
      <!--  Main wrapper -->
      <div class="body-wrapper">
        <!--  Header Start -->
        <header class="app-header">
          <nav class="navbar navbar-expand-lg navbar-light">
            <ul class="navbar-nav">
              <li class="nav-item d-block d-xl-none">
                <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                  <i class="ti ti-menu-2"></i>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop1" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="ti ti-bell-ringing"></i>
                  <div class="bg-primary rounded-circle"></div>
                  <!-- <div class="notification bg-primary rounded-circle"></div> -->
                </a>
                <div class="dropdown-menu dropdown-menu-start dropdown-menu-animate-up" aria-labelledby="drop1">
                  <div class="message-body">
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-user fs-6"></i>
                      <p class="mb-0 fs-3">My Profile</p>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-mail fs-6"></i>
                      <p class="mb-0 fs-3">My Account</p>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-list-check fs-6"></i>
                      <p class="mb-0 fs-3">My Task</p>
                    </a>
                    <a href="./authentication-login.html" class="btn btn-outline-green mx-3 mt-2 d-block">Logout</a>
                  </div>
                </div>
              </li>
            </ul>
            <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
              <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                <li class="nav-item dropdown">
                  <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="../../static/admin/images/profile/user-1.jpg" alt="" width="35" height="35" class="rounded-circle" />
                  </a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                    <div class="message-body">
                      <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                        <i class="ti ti-user fs-6"></i>
                        <p class="mb-0 fs-3">Edit Profil</p>
                      </a>
                      <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                        <i class="ti ti-settings fs-6"></i>
                        <p class="mb-0 fs-3">Pengaturan</p>
                      </a>
                      <a href="./authentication-login.html" class="btn btn-outline-green mx-3 mt-2 d-block">Keluar</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        </header>
        <!--  Header End -->
        <div class="container-fluid">
          <!--  Row 1 -->
          <div class="row">
            <div class="col-lg-6 col-12 d-flex align-items-strech">
              <!-- Chart -->
              <div class="card w-100">
                <div class="card-body">
                  <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                    <div class="mb-3 mb-sm-0">
                      <h5 class="card-title text-dark-emphasis">
                        <strong>Statistik Panen Rindang</strong>
                      </h5>
                    </div>
                    <div>
                      <select class="form-select" id="select-pangan">
                        <option value="chart">Cabai</option>
                        <option value="chart2">Tomat</option>
                        <option value="chart3">Tomat</option>
                      </select>
                    </div>
                  </div>
                  <div id="chart"></div>
                  <!-- <div id="chart2" style="display: none;"></div> -->
                </div>
              </div>
              <!-- Chart End -->
            </div>
            <div class="col-lg-6 col-12">
              <!-- Yearly Breakup -->
              <div class="card overflow-hidden">
                <div class="card-body">
                  <div class="mb-3">
                    <h5 class="card-title text-dark-emphasis">
                      <strong>Akumulasi Hasil Produksi</strong>
                    </h5>
                    <em class="text-muted">Informasi Bulan Ini</em>
                  </div>
                  <div class="row align-items-center">
                    <div class="col-8">
                      {% if pangan %} {% set jml_panen = total_panen/1000 %}
                      <p class="mb-3 display-5">
                        <strong>{{ jml_panen | default("0") }} kg</strong>
                      </p>
                      {% else %}
                      <p class="mb-3 display-5"><strong>0 kg</strong></p>
                      {% endif %}
                      <div class="d-flex align-items-center mb-3">
                        <span class="me-1 rounded-circle bg-light-success round-20 d-flex align-items-center justify-content-center">
                          <i class="ti ti-arrow-up-left text-success"></i>
                        </span>
                        <p class="text-dark me-1 fs-3 mb-0">+12%</p>
                        <p class="fs-3 mb-0">sejak bulan lalu</p>
                      </div>
                      <div class="d-flex align-items-center">
                        <div class="me-4">
                          <span class="round-8 rounded-circle me-2 d-inline-block" style="background-color: #ff6b6b"></span>
                          <span class="fs-2">Cabai</span>
                        </div>
                        <div>
                          <span class="round-8 rounded-circle me-2 d-inline-block" style="background-color: #fcb45e"></span>
                          <span class="fs-2">Tomat</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="d-flex justify-content-center">
                        <div id="breakup"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Button trigger modal -->

            <!-- Modal Input Data Baru -->
            <div class="modal fade" id="inputData" tabindex="-1" aria-labelledby="inputDataLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content p-3">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5 fw-bold" id="inputDataLabel">Input Data Produksi</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form action="" method="post">
                      <div class="mb-3">
                        <label for="kebun" class="form-label fw-bold fs-4">Komoditas</label>
                        <select class="form-select" aria-label="kebun" id="kebun" name="kebun">
                          <option value="-- Pilih Kebun --">-- Pilih Kebun --</option>
                          <option value="Kebun 1">Kebun 1</option>
                          <option value="Kebun 2">Kebun 2</option>
                          <option value="Kebun 3">Kebun 3</option>
                          <option value="Kebun 4">Kebun 4</option>
                          <option value="Kebun 5">Kebun 5</option>
                          <option value="Kebun 6">Kebun 6</option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <label for="komoditas" class="form-label fw-bold fs-4">Komoditas</label>
                        <select class="form-select" aria-label="Komoditas" id="komoditas" name="komoditas">
                          <option value="Cabai">Cabai</option>
                          <option value="Tomat">Tomat</option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col">
                            <label for="tglBibit" class="form-label fw-bold fs-4">Tanggal Penanaman</label>
                            <input type="date" class="form-control" id="tglBibit" name="tglBibit" required />
                          </div>
                          <div class="col">
                            <label for="jumlahBibit" class="form-label fw-bold fs-4">Jumlah Bibit</label>
                            <input type="number" class="form-control" id="jumlahBibit" name="jumlahBibit" placeholder="contoh: 1000" required />
                          </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <label for="status" class="form-label fw-bold fs-4">Status</label>
                        <select class="form-select" aria-label="status" id="status" name="status">
                          <option value="Penanaman">Penanaman</option>
                          <option value="Panen">Panen</option>
                        </select>
                      </div>
                      <div class="mb-4">
                        <div class="row">
                          <div class="col">
                            <label for="tglPanen" class="form-label fw-bold fs-4">Tanggal Panen</label>
                            <input type="date" class="form-control" id="tglPanen" name="tglPanen" />
                          </div>
                          <div class="col">
                            <label for="jumlahPanen" class="form-label fw-bold fs-4">Hasil Panen (g)</label>
                            <input type="number" class="form-control" id="jumlahPanen" name="jumlahPanen" placeholder="contoh: 1000" />
                          </div>
                        </div>
                      </div>
                      <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-green w-100">Input Data</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal Update Data Produksi -->
            {% for dataCabai in cabai %}
            <div class="modal fade" id="updateData{{dataCabai.id}}" tabindex="-1" aria-labelledby="updateDataLabel{{dataCabai.id}}" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content p-3">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5 fw-bold" id="inputDataLabel">Update Data Produksi</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form action="{{ url_for('views.updatepangan', id=dataCabai.id ) }}" method="post">
                      <div class="mb-3">
                        <label for="updateKebun" class="form-label fw-bold fs-4">Komoditas</label>
                        <select class="form-select" aria-label="updateKebun" id="updateKebun" name="updateKebun">
                          <option value="{{dataCabai.kebun}}" selected>{{dataCabai.kebun}}</option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <label for="updateKomoditas" class="form-label fw-bold fs-4">Komoditas</label>
                        <select class="form-select" aria-label="Komoditas" id="updateKomoditas" name="updateKomoditas">
                          <option value="{{dataCabai.komoditas}}" selected>{{dataCabai.komoditas}}</option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <div class="row">
                          <div class="col">
                            <label for="updateTglBibit" class="form-label fw-bold fs-4">Tanggal Penanaman</label>
                            <input type="date" class="form-control" id="updateTglBibit" name="updateTglBibit" value="{{dataCabai.tanggal_bibit}}" required />
                          </div>
                          <div class="col">
                            <label for="updateJumlahBibit" class="form-label fw-bold fs-4">Jumlah Bibit</label>
                            <input type="number" class="form-control" id="updateJumlahBibit" name="updateJumlahBibit" value="{{dataCabai.jml_bibit}}" placeholder="contoh: 1000" required />
                          </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <label for="updateStatus" class="form-label fw-bold fs-4">Status</label>
                        <select class="form-select" aria-label="updateStatus" id="updateStatus" name="updateStatus">
                          {% if dataCabai.status == 'Penanaman' %}
                          <option value="{{dataCabai.status}}" selected>{{dataCabai.status}}</option>
                          <option value="Panen">Panen</option>
                          {% else %}
                          <option value="Penanaman">Penanaman</option>
                          <option value="{{dataCabai.status}}" selected>{{dataCabai.status}}</option>
                          {% endif %}
                        </select>
                      </div>
                      <div class="mb-4">
                        <div class="row">
                          <div class="col">
                            <label for="updateTglPanen" class="form-label fw-bold fs-4">Tanggal Panen</label>
                            <input type="date" class="form-control" id="updateTglPanen" name="updateTglPanen" disabled />
                          </div>
                          <div class="col">
                            <label for="updateJumlahPanen" class="form-label fw-bold fs-4">Hasil Panen (g)</label>
                            <input type="number" class="form-control" id="updateJumlahPanen" name="updateJumlahPanen" placeholder="contoh: 1000" disabled />
                          </div>
                        </div>
                      </div>
                      <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-green w-100">Update Data Produksi</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

            <div class="col-lg-12 d-flex align-items-stretch">
              <div class="card w-100">
                <div class="card-body p-4">
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <h5 class="card-title fw-semibold">Laporan Hasil Penanaman - Panen</h5>

                    <button id="inputDataBtn" type="button" class="btn btn-green rounded-4" data-bs-toggle="modal" data-bs-target="#inputData">Input Data Produksi</button>
                  </div>

                  <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <button class="nav-link text-green active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Cabai</button>
                      <button class="nav-link text-green" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Tomat</button>
                    </div>
                  </nav>

                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                      <div class="table-responsive">
                        <table class="table text-nowrap mb-0 align-middle">
                          <thead class="text-dark fs-4">
                            <tr>
                              <th class="max-width">
                                <h6 class="fw-semibold mb-0">No</h6>
                              </th>
                              <th class="">
                                <h6 class="fw-semibold mb-0">Kebun</h6>
                              </th>
                              <th class="">
                                <h6 class="fw-semibold mb-0">Jumlah Bibit</h6>
                              </th>
                              <th class="">
                                <h6 class="fw-semibold mb-0">Tanggal Penanaman</h6>
                              </th>
                              <th class="">
                                <h6 class="fw-semibold mb-0">Status</h6>
                              </th>
                              <th class="">
                                <h6 class="fw-semibold mb-0">Hasil Panen (kg)</h6>
                              </th>
                              <th class="">
                                <h6 class="fw-semibold mb-0">Menu</h6>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for data_cabai in cabai %}
                            <tr>
                              <td class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">{{ loop.index }}</h6>
                              </td>
                              <td class="border-bottom-0">
                                <h6 class="fw-semibold mb-1">{{ data_cabai.kebun }}</h6>
                                <!-- <span class="fw-normal">Skala Besar</span> -->
                              </td>
                              <td class="border-bottom-0">
                                <p class="mb-0 fw-normal">{{ data_cabai.jml_bibit }}</p>
                              </td>
                              <td class="border-bottom-0">
                                <p class="mb-0 fw-normal" id="tglTanamCabai">{{ data_cabai.tanggal_bibit}}</p>
                              </td>
                              <td class="border-bottom-0">
                                <div class="d-flex align-items-center gap-2">
                                  <span class="badge {% if data_cabai.status == 'Panen' %} bg-green {% else %} bg-yellow {% endif %} rounded-3 fw-semibold">{{ data_cabai.status }}</span>
                                </div>
                              </td>
                              <td class="border-bottom-0">
                                <div class="fw-bold">
                                  <strong>{{ data_cabai.jml_panen/1000 }}</strong>
                                </div>
                                <div class="small" id="tglPanenCabai">{{ data_cabai.tanggal_panen }}</div>
                              </td>
                              <td class="border-bottom-0 align-middle">
                                <a class="btn btn-danger fs-6" href="{{ url_for('views.delete_data_pangan', id=data_cabai.id ) }}"><i class="ti ti-trash"></i></a>
                                <button id="updateDataBtn" type="button" class="btn btn-green fs-6" data-bs-toggle="modal" data-bs-target="#updateData{{data_cabai.id}}"><i class="ti ti-edit"></i></button>
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                      <div class="table-responsive">
                        <table class="table text-nowrap mb-0 align-middle">
                          <thead class="text-dark fs-4">
                            <tr>
                              <th class="max-width">
                                <h6 class="fw-semibold mb-0">No</h6>
                              </th>
                              <th class="">
                                <h6 class="fw-semibold mb-0">Kebun</h6>
                              </th>
                              <th class="">
                                <h6 class="fw-semibold mb-0">Jumlah Bibit</h6>
                              </th>
                              <th class="">
                                <h6 class="fw-semibold mb-0">Tanggal Penanaman</h6>
                              </th>
                              <th class="">
                                <h6 class="fw-semibold mb-0">Status</h6>
                              </th>
                              <th class="">
                                <h6 class="fw-semibold mb-0">Hasil Panen (kg)</h6>
                              </th>
                              <th class="">
                                <h6 class="fw-semibold mb-0">Menu</h6>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for data_tomat in tomat %}
                            <tr>
                              <td class="border-bottom-0">
                                <h6 class="fw-semibold mb-0">{{ loop.index }}</h6>
                              </td>
                              <td class="border-bottom-0">
                                <h6 class="fw-semibold mb-1">{{ data_tomat.kebun }}</h6>
                                <!-- <span class="fw-normal">Skala Besar</span> -->
                              </td>
                              <td class="border-bottom-0">
                                <p class="mb-0 fw-normal">{{ data_tomat.jml_bibit }}</p>
                              </td>
                              <td class="border-bottom-0">
                                <p class="mb-0 fw-normal">{{ data_tomat.tanggal_bibit }}</p>
                              </td>
                              <td class="border-bottom-0">
                                <div class="d-flex align-items-center gap-2">
                                  <span class="badge {% if data_tomat.status == 'Panen' %} bg-green {% else %} bg-yellow {% endif %} rounded-3 fw-semibold">{{ data_tomat.status }}</span>
                                </div>
                              </td>
                              <td class="border-bottom-0">
                                <div class="fw-bold">
                                  <strong>{{ data_tomat.jml_panen/1000 }}</strong>
                                </div>
                                <div class="small">{{ data_tomat.tanggal_panen }}</div>
                              </td>
                              <td class="border-bottom-0 align-middle">
                                <a class="btn btn-danger fs-6" href="{{ url_for('views.delete_data_pangan', id=data_tomat.id ) }}"><i class="ti ti-trash"></i></a>
                                <a class="btn btn-green fs-6" href="#"><i class="ti ti-edit"></i></a>
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../../static/admin/libs/jquery/dist/jquery.min.js"></script>
    <script src="../../static/admin/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/admin/js/sidebarmenu.js"></script>
    <script src="../../static/admin/js/app.min.js"></script>
    <script src="../../static/admin/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="../../static/admin/libs/simplebar/dist/simplebar.js"></script>
    <!-- <script src="../../static/admin/js/dashboard.js"></script> -->

    <script>
      let statCabai = {{ stat_cabai | safe }};
      let statTomat = {{ stat_tomat | safe }};
      let tanggalCabai = {{ tgl_panen_cabai | safe}};
      let tanggalTomat = {{ tgl_panen_tomat | safe}};

      let statCabaiConv = statCabai.map(value => value / 1000);
      let statTomatConv = statTomat.map(value => value / 1000);

      let bulanIndonesia = ["Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember"];
      // let HariIndonesia = ["Minggu", "Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu", "Juli", "Agustus", "September", "Oktober", "November", "Desember"];

      let formattedDates = tanggalCabai.map(tanggal => {
      	let dateObject = new Date(tanggal); // konversi ke objek Date

      	// format tanggal menjadi "Tanggal Bulan Tahun"
      	tanggal = dateObject.getDate();
      	let bulan = bulanIndonesia[dateObject.getMonth()]; // bulan di JavaScript dimulai dari 0
      	let tahun = dateObject.getFullYear();

      	return tanggal + ' ' + bulan + ' ' + tahun;
      });

      console.log(formattedDates); // output: array tanggal dalam format "Tanggal Bulan Tahun"
      console.log(tanggalCabai);

      $(function () {
      	// =====================================
      	// Profit
      	// =====================================
      	var cabaiBar = {
      		series: [
      			{ name: "Panen Cabai", data: statCabaiConv },
      		],

      		chart: {
      			type: "bar",
      			height: 345,
      			offsetX: -15,
      			toolbar: { show: true },
      			foreColor: "#adb0bb",
      			fontFamily: "inherit",
      			sparkline: { enabled: false },
      		},

      		colors: "#ff6b6b",

      		plotOptions: {
      			bar: {
      				horizontal: false,
      				columnWidth: "35%",
      				borderRadius: [6],
      				borderRadiusApplication: "end",
      				borderRadiusWhenStacked: "all",
      			},
      		},
      		markers: { size: 0 },

      		dataLabels: {
      			enabled: false,
      		},

      		legend: {
      			show: false,
      		},

      		grid: {
      			borderColor: "rgba(0,0,0,0.1)",
      			strokeDashArray: 3,
      			xaxis: {
      				lines: {
      					show: false,
      				},
      			},
      		},

      		xaxis: {
      			type: "datetime",
      			categories: tanggalCabai,
      			labels: {
      				style: { cssClass: "grey--text lighten-2--text fill-color" },
      			},
      		},

      		yaxis: {
      			show: true,
      			min: 0,
      			max: 20,
      			tickAmount: 4,
      			labels: {
      				style: {
      					cssClass: "grey--text lighten-2--text fill-color",
      				},
      			},
      		},
      		stroke: {
      			show: true,
      			width: 3,
      			lineCap: "butt",
      			colors: ["transparent"],
      		},

      		tooltip: { theme: "light" },

      		responsive: [
      			{
      				breakpoint: 600,
      				options: {
      					plotOptions: {
      						bar: {
      							borderRadius: 3,
      						},
      					},
      				},
      			},
      		],
      	};

      	var tomatBar = {
      		series: [
      			{ name: "Panen Tomat", data: statTomatConv },
      		],

      		chart: {
      			type: "bar",
      			height: 345,
      			offsetX: -15,
      			toolbar: { show: true },
      			foreColor: "#adb0bb",
      			fontFamily: "inherit",
      			sparkline: { enabled: false },
      		},

      		colors: "#fcb45e",

      		plotOptions: {
      			bar: {
      				horizontal: false,
      				columnWidth: "35%",
      				borderRadius: [6],
      				borderRadiusApplication: "end",
      				borderRadiusWhenStacked: "all",
      			},
      		},
      		markers: { size: 0 },

      		dataLabels: {
      			enabled: false,
      		},

      		legend: {
      			show: false,
      		},

      		grid: {
      			borderColor: "rgba(0,0,0,0.1)",
      			strokeDashArray: 3,
      			xaxis: {
      				lines: {
      					show: false,
      				},
      			},
      		},

      		xaxis: {
      			type: "category",
      			categories: tanggalTomat,
      			labels: {
      				style: { cssClass: "grey--text lighten-2--text fill-color" },
      			},
      		},

      		yaxis: {
      			show: true,
      			min: 0,
      			max: 20,
      			tickAmount: 4,
      			labels: {
      				style: {
      					cssClass: "grey--text lighten-2--text fill-color",
      				},
      			},
      		},
      		stroke: {
      			show: true,
      			width: 3,
      			lineCap: "butt",
      			colors: ["transparent"],
      		},

      		tooltip: { theme: "light" },

      		responsive: [
      			{
      				breakpoint: 600,
      				options: {
      					plotOptions: {
      						bar: {
      							borderRadius: 3,
      						},
      					},
      				},
      			},
      		],
      	};

      	var chartcabai = new ApexCharts(document.querySelector("#chart"), cabaiBar);
      	var charttomat = new ApexCharts(document.querySelector("#chart2"), tomatBar);
      	chartcabai.render();

      	function filterPangan() {
      		var x = document.getElementById("select-pangan").value;
      		if (x === "chart") {
      			chartcabai.updateOptions({
      				series: [
      					{ name: "Panen Cabai", data: statCabaiConv },
      				],
      				colors: "#ff6b6b",
      				xaxis: {
      					categories: tanggalCabai,
      					labels: {
      						style: { cssClass: "grey--text lighten-2--text fill-color" },
      					},
      				},
      			})
      		} else if (x === "chart2") {
      			chartcabai.updateOptions({
      				series: [
      					{ name: "Panen Tomat", data: statTomatConv },
      				],
      				colors: "#fcb45e",
      				xaxis: {
      					categories: tanggalTomat,
      					labels: {
      						style: { cssClass: "grey--text lighten-2--text fill-color" },
      					},
      				},
      			})
      		}
      	}

      	document.getElementById("select-pangan").onchange = filterPangan;

      	// =====================================
      	// Jumlah Kebutuhan dan Hasil Produksi
      	// =====================================
      	let totalPanenCabai = parseInt('{{totalPanenCabai}}', 10)
      	let totalPanenTomat = parseInt('{{totalPanenTomat}}', 10)

      	var breakup = {
      		color: "#adb5bd",
      		series: [totalPanenCabai, totalPanenTomat],
      		labels: ["Cabai", "Tomat"],
      		chart: {
      			width: 180,
      			type: "donut",
      			fontFamily: "Plus Jakarta Sans', sans-serif",
      			foreColor: "#adb0bb",
      		},
      		plotOptions: {
      			pie: {
      				startAngle: 0,
      				endAngle: 360,
      				donut: {
      					size: "75%",
      				},
      			},
      		},
      		stroke: {
      			show: false,
      		},

      		dataLabels: {
      			enabled: false,
      		},

      		legend: {
      			show: false,
      		},
      		colors: ["#ff6b6b", "#fcb45e"],

      		responsive: [
      			{
      				breakpoint: 991,
      				options: {
      					chart: {
      						width: 150,
      					},
      				},
      			},
      		],
      		tooltip: {
      			theme: "dark",
      			fillSeriesColor: false,
      		},
      	};

      	var chart = new ApexCharts(document.querySelector("#breakup"), breakup);
      	chart.render();
      });
    </script>
    <script>
      const inputBtn = document.getElementById("inputDataBtn");
      const updateBtn = document.getElementById("updateDataBtn");

      const statProd = document.getElementById("status");
      const jmlPanen = document.getElementById("jumlahPanen");
      const tglPanen = document.getElementById("tglPanen");

      const updtJml = document.getElementById("updateJumlahPanen");
      const updtTgl = document.getElementById("updateTglPanen");

      inputBtn.addEventListener("click", function () {
        statProd.disabled = true;
        jmlPanen.disabled = true;
        tglPanen.disabled = true;
      });

      if (document.getElementById("updateStatus").value === "Penanaman") {
        updtJml.disabled = true;
        updtTgl.disabled = true;
      } else if (document.getElementById("updateStatus").value === "Panen") {
        updtJml.disabled = false;
        updtTgl.disabled = false;
      }

      function changeStat() {
        const updtStat = document.getElementById("updateStatus").value;

        if (updtStat === "Penanaman") {
          updtJml.disabled = true;
          updtTgl.disabled = true;
        } else if (updtStat === "Panen") {
          updtJml.disabled = false;
          updtTgl.disabled = false;
        }
      }

      document.getElementById("updateStatus").onchange = changeStat;
    </script>
  </body>
</html>
