{% extends 'dashboard/layout.html' %} {% block page_title %} Dashboard - Informasi Harga Pangan {% endblock %} {% block container %}
<div class="container-fluid">
    <!--  Row 1 -->
    <div class="row">
        <div class="col-lg-12 col-12 d-flex flex-column">
            <h4><strong>Daftar Harga Eceran Komoditas Per Minggu</strong></h4>
            <p class="mb-4 text-muted"><strong>Ternate, Maluku Utara</strong></p>
            <div class="table-responsive">
                <table class="table table-bordered mb-4">
                    <tr class="bg-red text-light">
                        <th scope="col">Komoditas</th>
                        {% for item in table_data if item.name == 'Cabai Rawit Merah' %}
                        <th scope="col">{{item.date}}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Cabai Rawit Merah</td>
                        {% for item in table_data if item.name == 'Cabai Rawit Merah' %}
                        <td>{{item.price}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Cabai Merah Keriting</td>
                        {% for item in table_data if item.name == 'Cabai Merah Keriting' %}
                        <td>{{item.price}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Bawang Merah</td>
                        {% for item in table_data if item.name == 'Bawang Merah' %}
                        <td>{{item.price}}</td>
                        {% endfor %}
                    </tr>
                    <caption class="small text-muted">
                        Sumber :
                        <a target="_blank" href="https://panelharga.badanpangan.go.id/harga-eceran" class="text-yellow">
                            <strong>Badan Pangan Nasional | <em>Panel Harga Pangan</em></strong>
                        </a>
                    </caption>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
