{% extends 'dashboard/layout.html' %} {% block page_title %} Dashboard - Profil Pengguna {% endblock %} {% block container %}
<!--  Header End -->
<div class="container-fluid">
    <!--  Row 1 -->
    <div class="row">
        <div class="col-lg-12 col-12 d-flex flex-column">
            <h3 class="mb-4"><strong>Profil Pengguna</strong></h3>
            <div class="card">
                <div class="card-body position-relative">
                    <div class="container">
                        <div class="row gap-3 col text-lg-start text-center">
                            <div class="d-flex gap-4 flex-column flex-lg-row">
                                <div class="">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Default_pfp.svg" alt="Profile Picture.svg" style="width: 200px" />
                                </div>
                                <table class="table text-start">
                                    <tr>
                                        <td style="width: 20%">Nama</td>
                                        <td style="width: 5%">:</td>
                                        <td>{{ user.nama_lengkap }}</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 20%">Username</td>
                                        <td style="width: 5%">:</td>
                                        <td>{{ user.username }}</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 20%">Pekerjaan</td>
                                        <td style="width: 5%">:</td>
                                        <td>{{ user.pekerjaan }}</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 20%">Jenis Kelamin</td>
                                        <td style="width: 5%">:</td>
                                        <td>{{ user.kelamin }}</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 20%">Kelurahan</td>
                                        <td style="width: 5%">:</td>
                                        <td>{{ user.kelurahan }}</td>
                                    </tr>
                                </table>
                            </div>
                            <button id="updateProfileBtn" type="button" class="btn btn-green rounded-4 w-auto" data-bs-toggle="modal" data-bs-target="#updateProfile">Ubah Profil</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-body">
                <h4 class="mb-4"><strong>Biodata</strong></h4>
                <div class="d-flex flex-column gap-2">
                    <p>{{ user.bio }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateProfile" tabindex="-1" aria-labelledby="updateProfileLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content p-3">
            <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold" id="updateProfileLabel">Ubah Informasi Profil Anda</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('views.updateprofil', id=current_user.id ) }}" method="post">
                    <div class="mb-3">
                        <label for="nama" class="form-label fw-bold fs-4">Nama Lengkap</label>
                        <input class="form-control" type="text" name="nama" id="nama" placeholder="contoh : Yusuf Hi Bisnu" value="{{ user.nama_lengkap }}" />
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label fw-bold fs-4">Username</label>
                        <input class="form-control" type="text" name="username" id="username" placeholder="contoh : ucup123" value="{{ user.username }}" />
                    </div>
                    <div class="mb-3">
                        <label for="kelamin" class="form-label fw-bold fs-4">Jenis Kelamin</label>
                        <select class="form-select" aria-label="kelamin" id="kelamin" name="kelamin">
                            <option value="Laki-Laki">Laki-Laki</option>
                            <option value="Perempuan">Perempuan</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <div class="row">
                            <div class="col">
                                <label for="pekerjaan" class="form-label fw-bold fs-4">Pekerjaan</label>
                                <select class="form-select" aria-label="pekerjaan" id="pekerjaan" name="pekerjaan">
                                    <option value="Petani">Petani</option>
                                    <option value="Pelajar/Mahasiswa">Pelajar/Mahasiswa</option>
                                    <option value="Guru atau Dosen">Guru atau Dosen</option>
                                    <option value="Tentara dan Polisi">Tentara dan Polisi</option>
                                    <option value="Dokter">Dokter</option>
                                    <option value="Nelayan">Nelayan</option>
                                    <option value="IRT">IRT</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="kelurahan" class="form-label fw-bold fs-4">Kelurahan</label>
                                <select class="form-select" aria-label="kelurahan" id="kelurahan" name="kelurahan">
                                    <option value="Sasa">Sasa</option>
                                    <option value="Kulaba">Kulaba</option>
                                    <option value="Foramadiahi">Foramadiahi</option>
                                    <option value="Fitu">Fitu</option>
                                    <option value="Tubo">Tubo</option>
                                    <option value="Kalumpang">Kalumpang</option>
                                    <option value="Santiong">Santiong</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="bio" class="form-label">Biodata</label>
                        <textarea class="form-control" id="bio" name="bio" rows="3">{{ user.bio }}</textarea>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-green w-100">Input Data</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
