:root {
    --yellow: #fcb45e;
    --red: #ff6b6b;
    --green: #89c97b;
    --hover-red: #ef5151;
    --hover-yellow: #eda348;
    --hover-green: #63ad53;
    --dark-green: #2e711f;
    --light-green: #d9ffd0;
    --light-yellow: #ffdfb9;
}

.sidebar-nav ul .sidebar-item.selected > .sidebar-link,
.sidebar-nav ul .sidebar-item.selected > .sidebar-link.active,
.sidebar-nav ul .sidebar-item > .sidebar-link.active {
    background-color: var(--green);
    transition: 0.2s ease-in-out;
}

.sidebar-nav ul .sidebar-item.selected > .sidebar-link:disabled,
.sidebar-nav ul .sidebar-item.selected > .sidebar-link.active:disabled,
.sidebar-nav ul .sidebar-item > .sidebar-link.active:disabled {
    background-color: initial;
    cursor: no-drop;
}

.sidebar-nav ul .sidebar-item.selected > .sidebar-link:hover,
.sidebar-nav ul .sidebar-item.selected > .sidebar-link.active:hover,
.sidebar-nav ul .sidebar-item > .sidebar-link.active:hover {
    background-color: var(--hover-green);
}

.sidebar-nav ul .sidebar-item .sidebar-link {
    transition: ease-in-out 0.2s;
}

.sidebar-nav ul .sidebar-item .sidebar-link:hover {
    background-color: var(--green);
    color: white;
}

.btn-green {
    background-color: var(--green);
    color: white;
}

.btn-green:hover {
    background-color: var(--hover-green);
    color: white;
}

.btn-outline-green {
    background-color: white;
    outline: 1.5px solid var(--green);
    color: var(--dark-green);
}

.btn-outline-green:hover {
    background-color: var(--green);
    border: 1.5px solid var(--green);
    color: #fff;
}

.card-icons-green-fill {
    background-color: var(--green);
}

.card-icons-yellow-fill {
    background-color: var(--yellow);
}

.card-icons-red-fill {
    background-color: var(--red);
}

.text-yellow {
    color: var(--yellow);
}

.text-green {
    color: var(--green);
}

.text-red {
    color: var(--red);
}

.nav-link:focus,
.nav-link:hover {
    color: var(--hover-green);
}

.bg-green {
    background: var(--green);
}

.bg-green-secondary {
    background: var(--light-green);
}

.bg-green-dark {
    background: var(--dark-green);
}

.bg-yellow {
    background: var(--yellow);
}

.bg-yellow-secondary {
    background: var(--light-yellow);
}

.bg-yellow-dark {
    background: var(--hover-yellow);
}

.bg-red {
    background: var(--red);
}

.bg-red-dark {
    background: var(--hover-red);
}

.form-check-input {
    border-color: var(--green) !important;
}

.form-control,
.form-select {
    border-color: var(--green) !important;
}

.form-check-input:focus,
.form-control:focus {
    box-shadow: none !important;
}
