{% extends 'admin-dashboard/layout.html' %} {% block container %}

<div class="container-fluid">
    <!--  Row 1 -->
    <div class="row">
        <div class="col-lg-12 d-flex align-items-strech">
            <div class="d-flex flex-column mb-3">
                <h1 class="text-dark-emphasis mb-1">
                    <strong>Selamat Datang Admin</strong>
                </h1>
                <p>Dashboard khusus Admin untuk monitoring perkembangan produksi setiap kelurahan yang bermitra di program RINDANG</p>
            </div>
        </div>
        <h4 class="text-dark-emphasis mb-4">
            <strong>Informasi Produksi</strong>
        </h4>
        <div class="col-lg-12">
            <div class="row align-items-start">
                <div class="col-12 col-lg-6">
                    <a href="#" target="_blank" class="link-dark">
                        <div class="card card-body border-0 shadow border border-dark border-opacity-25 border-1 rounded-4">
                            <div class="d-flex gap-3 align-items-center">
                                <div class="d-block">
                                    <div class="text-white display-6 card-icons-yellow-fill p-3 rounded-3 text-dark"><strong>0</strong></div>
                                </div>
                                <div class="d-flex flex-column justify-content-center">
                                    <h3 class="text-yellow fw-bold">
                                        <strong>Jumlah Kebun</strong>
                                    </h3>
                                    <p class="mb-0 align-middle fs-3">Informasi jumlah kebun di setiap kelurahan</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-lg-6">
                    <a href="#" target="_blank" class="link-dark">
                        <div class="card card-body border-0 shadow border border-dark border-opacity-25 border-1 rounded-4">
                            <div class="d-flex gap-3 align-items-center">
                                <div class="d-block">
                                    <div class="text-white display-6 card-icons-red-fill p-3 rounded-3 text-dark"><strong>0kg</strong></div>
                                </div>
                                <div class="d-flex flex-column justify-content-center">
                                    <h3 class="text-red fw-bold">
                                        <strong>Hasil Produksi</strong>
                                    </h3>
                                    <p class="mb-0">Informasi hasil produksi semua komoditas di setiap kelurahan</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="row align-items-start">
                <div class="col-12">
                    <div class="card card-body">
                        <h4 class="text-dark-emphasis mb-3">
                            <strong>Data & Informasi Kelurahan</strong>
                        </h4>
                        <table class="table table-bordered">
                            <tr class="bg-green text-light text-center">
                                <th>#</th>
                                <th>Kelurahan</th>
                                <th>Panen Tertinggi</th>
                                <th>Panen Terendah</th>
                                <th>Action</th>
                            </tr>
                            <tr class="text-center align-middle">
                                <td>{{loop | count}}</td>
                                <td><strong>Sasa</strong></td>
                                <td>
                                    <div><strong>9.6kg</strong></div>
                                    <div class="small">12 Maret 2024 - Kebun 1</div>
                                </td>
                                <td>
                                    <div><strong>6.6kg</strong></div>
                                    <div class="small">12 Maret 2024 - Kebun 1</div>
                                </td>
                                <td class="border-bottom-0 align-middle">
                                    <div class="dropdown">
                                        <button class="btn btn-light" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="ti ti-dots-vertical"></i></button>
                                        <ul class="dropdown-menu">
                                            <li><a target="_blank" class="dropdown-item" href="{{ url_for('admin_page.report' ) }}">Download Laporan</a></li>
                                            <li><a class="dropdown-item" href="#">Lihat Statistik</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="py-6 px-6 text-center">
<p class="mb-0 fs-4">Design and Developed by <a href="https://adminmart.com/" target="_blank"
class="pe-1 text-primary text-decoration-underline">AdminMart.com</a></p>
</div> -->
</div>

{% endblock %}
