{% extends 'admin-dashboard/layout.html' %} {% block container %}

<div class="container-fluid">
    <!--  Row 1 -->
    <div class="row">
        <div class="col-lg-12 d-flex align-items-strech">
            <div class="d-flex flex-column mb-3">
                <h1 class="text-dark-emphasis mb-1">
                    <strong>Selamat Datang Admin</strong>
                </h1>
                <p>Dashboard khusus Admin untuk monitoring perkembangan produksi setiap kelurahan yang bermitra di program RINDANG</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="row align-items-start">
                <div class="col-12">
                    <div class="card card-body">
                        <h4 class="text-dark-emphasis mb-3">
                            <strong>Informasi Produksi RINDANG</strong>
                        </h4>
                        <table class="table">
                            <tr>
                                <td style="width: 13%">Jumlah Kebun</td>
                                <td style="width: 0">:</td>
                                <td><strong class="badge bg-red fw-bold">{{ total_kebun }} Kebun</strong></td>
                            </tr>
                            <tr>
                                <td>Hasil Produksi</td>
                                <td style="width: 0">:</td>
                                <td>
                                    <strong><span class="badge bg-red fw-bold">{{round_num(total_panen/1000, 2)}} kg</span></strong>
                                </td>
                            </tr>
                        </table>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="info-kelurahan">
                                <tr class="bg-green text-light text-center">
                                    <th>#</th>
                                    <th>Kelurahan</th>
                                    <th>Jumlah Kebun</th>
                                    <th>Jumlah Panen Total</th>
                                    <th>Action</th>
                                </tr>
                                {% for data_kel in kelurahan %}
                                <tr class="text-center align-middle">
                                    <td>{{loop.index}}</td>
                                    <td><strong>{{data_kel.nama}}</strong></td>
                                    <td>
                                        <div><strong>{{data_kel.kebun}} Kebun</strong></div>
                                    </td>
                                    <td>
                                        <div><strong>{{ round_num(total_panen_per_kelurahan[data_kel.id]/1000, 2) }} kg</strong></div>
                                    </td>
                                    <td class="border-bottom-0 align-middle gap-2 d-sm-flex d-lg-block">
                                        <a id="dwldBtn" href="{{ url_for('admin_page.report', nama=genhash(data_kel.nama, method='pbkdf2'), id=data_kel.id ) }}" role="button" target="_blank" class="btn btn-green fs-5"
                                            ><i class="ti ti-download"></i
                                        ></a>
                                        <a id="statBtn" href="{{ url_for('admin_page.dataproduksikel', id=data_kel.id ) }}" target="_blank" role="button" class="btn btn-yellow fs-5 text-light"><i class="ti ti-chart-line"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
