<!DOCTYPE html>
<html lang="en" class="min-vh-100 h-100">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %} {% endblock %}</title>
        <meta name="keywords" content="rindang sistem informasi pangan kota ternate kebutuhan cabai barito rica tanam petani" />
        <meta property="og:title" content="RINDANG - Rica Tanam Dalam Kampung" />
        <meta property="og:description" content="Sistem Informasi kebutuhan pangan dan informasi pangan Kota Ternate" />
        <meta property="og:image" content="https://i.ibb.co/grnRZSB/og-thumbnail.webp" />
        <meta property="og:url" content="https://rindang.vercel.app" />
        <meta property="og:type" content="website" />

        <!-- FAVICONS -->
        <link rel="apple-touch-icon" sizes="180x180" href="../../static/favicons/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="../../static/favicons/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="../../static/favicons/favicon-16x16.png" />
        <link rel="manifest" href="../../static/favicons/site.webmanifest" />
        <link rel="mask-icon" href="../../static/favicons/safari-pinned-tab.svg" color="#5bbad5" />
        <meta name="msapplication-TileColor" content="#ffc40d" />
        <meta name="theme-color" content="#ffffff" />

        <!-- FONTS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css" />

        <!-- STYLES -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css' ) }}" />
        <link rel="stylesheet" href="../../static/admin/css/styles.min.css" />
        <link rel="stylesheet" href="../../static/admin/css/base-color.css" />

        <!-- CDN -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
            integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->

        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> -->
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

        {% block head %} {% endblock %}

        <!-- INLINE STYLING -->
        <style></style>

        {{ toastr.include_jquery() }} {{ toastr.include_toastr_css() }} {{ toastr.message() }}
    </head>

    <body class="h-100 bg-body-secondary">
        <!--  Body Wrapper -->
        <div class="page-wrapper h-100" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
            <!-- Sidebar Start -->
            <aside class="left-sidebar">
                <!-- Sidebar scroll-->
                <div>
                    <div class="brand-logo d-flex align-items-center justify-content-between">
                        <a href="{{ url_for('admin_page.index' ) }}" class="text-nowrap logo-img">
                            <img src="../../static/img/rindang-logo-red.svg" width="180" alt="" />
                        </a>
                        <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                            <i class="ti ti-x fs-8"></i>
                        </div>
                    </div>
                    <!-- Sidebar navigation-->
                    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                        <ul id="sidebarnav">
                            <li class="nav-small-cap">
                                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                                <span class="hide-menu">Home</span>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="{{ url_for('admin_page.index' ) }}" aria-expanded="false">
                                    <span>
                                        <i class="ti ti-grid-dots"></i>
                                    </span>
                                    <span class="hide-menu">Dashboard</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="{{ url_for('views.mapbase' ) }}" target="_blank" aria-expanded="false">
                                    <span>
                                        <i class="ti ti-map"></i>
                                    </span>
                                    <span class="hide-menu">Peta Sebaran</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="{{ url_for('admin_page.dataproduksi' ) }}" aria-expanded="false">
                                    <span>
                                        <i class="ti ti-plant"></i>
                                    </span>
                                    <span class="hide-menu">Data Produksi</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- End Sidebar navigation -->
                </div>
                <!-- End Sidebar scroll-->
            </aside>
            <!--  Sidebar End -->
            <!--  Main wrapper -->
            <div class="body-wrapper bg-body-secondary h-100">
                <!--  Header Start -->
                <header class="app-header">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <ul class="navbar-nav">
                            <li class="nav-item d-block d-xl-none">
                                <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                                    <i class="ti ti-menu-2"></i>
                                </a>
                            </li>
                            <!-- <li class="nav-item dropdown">
                                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="ti ti-bell-ringing"></i>
                                    <div class="bg-primary rounded-circle"></div>
                                    <div class="notification bg-primary rounded-circle"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-start dropdown-menu-animate-up" aria-labelledby="drop1">
                                    <div class="message-body">
                                        <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                            <i class="ti ti-user fs-6"></i>
                                            <p class="mb-0 fs-3">Profil Saya</p>
                                        </a>
                                        <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                            <i class="ti ti-mail fs-6"></i>
                                            <p class="mb-0 fs-3">Pegaturan</p>
                                        </a>
                                        <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                            <i class="ti ti-list-check fs-6"></i>
                                            <p class="mb-0 fs-3">My Task</p>
                                        </a>
                                        <a href="#" class="btn btn-outline-green mx-3 mt-2 d-block">Logout</a>
                                    </div>
                                </div>
                            </li> -->
                        </ul>
                        <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                                <li class="nav-item">
                                    <div class="dropdown">
                                        <a href="javascript:void(0)" class="nav-icon-hover gap-3 d-none d-lg-flex" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <img src="../../static/admin/images/profile/user-1.jpg" alt="" width="35" height="35" class="rounded-circle" />
                                            <div class="d-flex flex-column justify-content-center">
                                                <span>Menu</span>
                                                <small class="text-muted">Admin</small>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up">
                                            <div class="message-body">
                                                <a href="{{ url_for('admin_page.profile', username=current_user.username) }}" class="d-flex align-items-center gap-2 dropdown-item">
                                                    <i class="ti ti-user fs-6"></i>
                                                    <p class="mb-0 fs-3">Profil</p>
                                                </a>
                                                <a href="{{ url_for('auth.logout') }}" class="btn btn-outline-green mx-3 mt-2 d-block"><i class="ti ti-power"></i> Keluar</a>
                                            </div>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </header>
                <!--  Header End -->
                {% block container %} {% endblock %}
            </div>
        </div>

        {{ toastr.include_toastr_js() }} {% block scripts %} {% endblock %}

        <!-- Development -->
        <!-- TIPPY JS -->
        {% block script %} {% endblock %}
        <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
        <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>

        <script src="../../static/admin/libs/jquery/dist/jquery.min.js"></script>
        <script src="../../static/admin/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../../static/admin/js/sidebarmenu.js"></script>
        <script src="../../static/admin/js/app.min.js"></script>
        <!-- <script src="../../static/admin/libs/apexcharts/dist/apexcharts.min.js"></script> -->
        <script src="../../static/admin/libs/simplebar/dist/simplebar.js"></script>
        <!-- <script src="../../static/admin/js/dashboard.js"></script> -->

        <!-- TOOLTIPS -->
        <script>
            tippy('#dwldBtn', {
                content: 'Export Laporan',
            });
            tippy('#statBtn', {
                content: 'Lihat Statistik',
            });
        </script>
    </body>
</html>
